[submodule "vendor/eoreader5"]
	path = vendor/eoreader5
	url = https://github.com/clovenbradshaw-ctrl/eoreader5.git
	branch = fix/retrieval-lexical-ranking
[submodule "vendor/eoPriors"]
	path = vendor/eoPriors
	url = https://github.com/clovenbradshaw-ctrl/eoPriors.git
